script
  $(function() { 
    $('#register_form').submit(function() {
      $.post("/register", $("#register_form").serialize(), function(data) {
        var response = $.parseJSON(data)
        if(response.success) window.location = '/dashboard';
        else console.log(response.error)
      })
      return false;
    })

    $("#login").click(function(){
      $("#login").hide();
      $("#mini-dash").slideDown('fast')
      $("input.username").focus();
    });

    $('input').keydown(function(e){
      if (e.keyCode == 13) {
        $(this).parents('form').submit();
        return false;
      }
    });

    $('#login_form').submit(function() {
      $.post("/login", $("#login_form").serialize(), function(data) {
        var response = $.parseJSON(data);
        if(response.success) window.location = '/dashboard';
        else alert(response.error);
      })
      return false;
    })
  });

#mini-dash
  .login
    form#login_form(name='login')
      input.username(type='text',name='username')
      input(type='password',name='password')

#main
  img#logo(src='/images/wall.jpg')
  img#tagline(src='images/tagline.png')

  a#login(href='javascript:void(0)') Login
  
  #register  
    h2 Register.
    form#register_form(name='register')
      table(width='350')
        tr
          td.type Email:
          td
            input(type='text',name='email')
        tr 
          td.type Username:
          td
            input(type='text',name='username')
        tr
          td.type Password:
          td
            input(type='password',name='password')
        tr
          td
          td.submitColumn(align='right')
            input.submit(type='submit', value="Submit")