#main
  img(src='/images/logo.png', id='logo')
  img(src='images/tagline.png', id='tagline')  
  
  #signup  
    form#register_form(name='register')
      table
        tr
          td.type Email:
          td
            input.user_input(type='text',name='email')
        tr 
          td.type Username:
          td
            input.user_input(type='text',name='username')
        tr
          td.type Password:
          td
            input.user_input(type='password',name='password')
        tr
          td
          td
            input.submit(type='submit')
      
    button#login Login, bitch!


script
  $(function() { 
    $('#register_form').submit(function() {
      $.post("/register", $("#register_form").serialize(), function(data) {
        var response = $.parseJSON(data)
        if(response.success) window.location = "/dashboard";
        else alert(response.error)
      })
      return false;
    })
    
    $('#login').click(function(){
      alert('Login flow up top!');
    })
    
    $('#login_form').submit(function() {
          $.post("/login", $("#login_form").serialize(), function(data) {
            console.log(data)
          })
          return false;
        })  
  });