link(rel='stylesheet',href='/stylesheets/landing.css')
script(src='/javascripts/landing.js')

#mini-dash
  .login
    form#login_form(name='login')
      input(type='text',name='username')
      input(type='password',name='password')

#main
  img#logo(src='/images/wall.jpg')
  img#tagline(src='images/tagline.png')

  a#login(href='javascript:void(0)') Login
  
  #register  
    h2 Register.
    form#register_form(name='register')
      table(width='350')
        tr
          td.type Email:
          td
            input(type='text',name='email')
        tr 
          td.type Username:
          td
            input(type='text',name='username')
        tr
          td.type Password:
          td
            input(type='password',name='password')
        tr
          td(colspan='2')
            .error-msg
            .submit
              input(type='submit', value="Submit")
            div(style='clear:both;')