#main
  h1 Graffidia
  #copy
    COMMENT THE INTERNET IN REAL TIME, MOTHERFUCKER.

  #signup
    form#register_form(name='register')
      label Email:
        input(type='text',name='email')
      label Username:
        input(type='text',name='username')
      label Password:
        input(type='password',name='password')
      input(type='submit')
      
    #login
      Or LOGIN if you have an account

script
  $(function() { 
    $('#register_form').submit(function() {
      $.post("/register", $("#register_form").serialize(), function(data) {
        var response = $.parseJSON(data)
        if(response.success) window.location = "/dashboard";
        else alert(response.error)
      })
      return false;
    })
    
    $('#login').click(function(){
      alert('Login flow up top!');
    })  
  });