.mini-dash
  a#register(href='http://www.graffidia.com') Register
  form#login_form
    | Username:
    input.login_input(type='text',name='username')
    |&nbsp;&nbsp;&nbsp;&nbsp;Password:
    input.login_input(type='password',name='password')
    input.mini_submit(type='submit')

#main
  img(src='/images/logo.png', id='logo')
  img(src='images/tagline.png', id='tagline')  
  
  #signup  
    form#register_form(name='register')
      table
        tr
          td.type Email:
          td
            input.user_input(type='text',name='email')
        tr 
          td.type Username:
          td
            input.user_input(type='text',name='username')
        tr
          td.type Password:
          td
            input.user_input(type='password',name='password')
        tr
      #buttons
        #login Login
        #or or
        input.submit(type='submit', value="Register")


script
  $(function() { 
    $('#register_form').submit(function() {
      $.post("/register", $("#register_form").serialize(), function(data) {
        var response = $.parseJSON(data)
        if(response.success) window.location = "/dashboard";
        else alert(response.error)
      })
      return false;
    })

    $("#login").click(function(){
      $(".mini-dash").animate({
        width: "100%",
        height: "35px"
      }, 500 );
      $(".login_input:first").focus();
    });

    $('input').keydown(function(e){
      if (e.keyCode == 13) {
        $(this).parents('form').submit();
        return false;
      }
    });

    $('#login_form').submit(function() {
      $.post("/login", $("#login_form").serialize(), function(data) {
        console.log(data)
      })
      return false;
    })
  });