!!!
html
  head
    title Welcome
    link(href='http://fonts.googleapis.com/css?family=Bowlby+One+SC&v2', rel='stylesheet', type='text/css')
    link(rel='stylesheet',href='/stylesheets/global.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
  body!= body