!!!
html
  head
    title Welcome
    <link rel="stylesheet" href="/stylesheets/landing.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  body!= body