#graphedia_container {
  position:relative !important;
  z-index:2147483647 !important;
  font:14px 'Lucida Grande',Helvetica,Arial,sans-serif !important;
  color:#000 !important;
}
#graphedia_container input[type='text'],
#graphedia_container input[type='submit'],
#graphedia_container textarea,
#graphedia_container button {
  font:14px 'Lucida Grande',Helvetica,Arial,sans-serif;
  padding:4px;
}
#graphedia_container input[type='text'] {
  width:250px;
}
#graphedia_container input[type='submit'],
#graphedia_container button {
  font-size:18px;
}
#graphedia_container .new-comment {
  position:absolute;
}
#graphedia_container .comment {
  max-width:200px;
  background:rgba(239,239,226,0.9) !important;
  -webkit-border-radius: 16px !important;
  -moz-border-radius: 16px !important;
  border-radius: 16px !important;
  -moz-box-shadow: 0 0 3px #888 !important;
  -webkit-box-shadow: 0 0 3px #888 !important;
  box-shadow: 0 0 3px #888 !important;
  padding:10px !important;
  font:14px 'Lucida Grande',Helvetica,Arial,sans-serif !important;
  color:#000 !important;
}