#graphedia_container {
  position:relative;
  z-index:2147483647;
  font:14px 'Lucida Grande',Helvetica,Arial,sans-serif;
}
#graphedia_container input[type='text'],
#graphedia_container input[type='submit'],
#graphedia_container textarea,
#graphedia_container button {
  font:14px 'Lucida Grande',Helvetica,Arial,sans-serif;
  padding:4px;
}
#graphedia_container textarea {
  width:250px;
  height:80px;
}
#graphedia_container input[type='submit'],
#graphedia_container button {
  font-size:18px;
}
#graphedia_container .new-comment {
  position:absolute;
}
#graphedia_container .comment {
  width:400px;
  height:200px;
  background-color:blue;
}
#graphedia_container .enabled {
  position:absolute;
  top:4px;
  right:4px;
  background-color:rgba(0,0,0,0.6);
  color:#fff;
}