#graphedia_container {
  position:relative;
  z-index:9999;
}
#graphedia_container .new-comment {
  position:absolute;
}
#graphedia_container .comment {
  width:400px;
  height:200px;
  background-color:blue;
}