#welcome {
  padding: 20px;
  border-bottom:1px solid #000;
}
#trending {
  padding: 20px;
  border-bottom:1px solid #000;
}
#my-graffidia {
  padding: 20px;
  border-bottom:1px solid #000;
}
#extras {
  padding: 20px;
}