html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {color: #5299C4;text-decoration:none;}
a:active,
a:visited {text-decoration: underline;color: #5299C4;}
a:hover {color: #2F6270;}

html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body{
  background: black;
  text-align: center;
  font-family: helvetica;
  margin: 0 auto;
}
#header {
  height: 65px;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 3px dashed #8C8C8C;
  background: black;
  overflow: hidden;
}
#infostuffs{
  position: relative;
  float: right;
  height: 100%;
  padding-right: 100px;
  width: 100px;
}
#bookmarklet{
  display: inline;
  position: absolute;
  top: 47px;
  font-size: 12px;
  left: 10px;
}
#logout{
  display: inline;
  position: absolute;
  top: 46px;
  left: 145px;
  font-size: 12px;
}
#logo{
  padding: 0px 10px 10px 10px;
  height: 72%;
}
#name{
  position: relative;
  float: left;
  color: white;
  font-size: 50px;
  font-family: helvetica;
  padding: 10px;
}
#name a, a:visited{
  font-size: 12px;
}
#trending {
  padding: 20px;
  border-bottom:1px solid #000;
}
#my-graffidia {
  padding: 20px;
  border-bottom:1px solid #000;
}
#extras {
  padding: 20px;
}
#section1, #section2, #column4{ 
  height: 80%;
  overflow: hidden;
}
#column4, #column1, #column2, #column3, #top-sites, #firehose{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#wrapper {
  width: 1000px;
  height: 750px;
  margin: 0 auto;
  text-align: left;
}
#section1 {
  float: left; 
  background: #ccc;
  width: 50%;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
}
#column1 {
  float: left; 
  background: #ccc;
  width: 50%;

}
#column2 {
  float: right;
  background: #ccc;
  width: 50%;
}
#section2 {
  float: right;
  background: #ccc;
  width: 50%;
  overflow: hidden;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottom-right: 10px;
  border-bottom-right-radius: 10px;
}
#column3 {
  float: left;
  background: #ccc;
  width: 50%;
}
#column4 {
  float: right;
  background: #ccc;
  width: 50%;
  height: 100%;
}
#top-sites{
  height: 30%;
}
#firehose{
  height: 70%;
}
#firehose .jspArrowDown{
  padding-top:39px !important;
  height: 0px !important;
}
.commentScroller{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  height: 100%;
  margin-left: 10px;
  overflow: hidden;
}
.sectionTitle{
 padding: 10px;
 font-weight: bold;
 text-align: center;
 background: #2A2829;
 color: #FFF8DB;
}
/*.myComments{
  background: #B9D7D9;
}.myReplies{
  background: #668284;
}.topComments{
  background: #99502C;
}.topSites{
  background: #2A2829;
}.fireHose{
  background: #493736;
}
*/
.myComment{
  margin: 0 auto;
  margin-bottom: 15px;
  width: 200px;
  background: white;
  word-wrap: break-word;
  position: relative;
  padding: 10px;
  font-size: 12px;
  font-weight: normal;
}
.myCommentText{
  display: inline;
}
.myCommentUps{
  display: inline;
  color: #A51733;
  padding-right: 5px;
}
.comment, .reply, .site{
  margin: 0 auto;
  margin-bottom: 15px;
  width: 200px;
  background: white;
  word-wrap: break-word;
  position: relative;
  padding: 10px;
  font-size: 12px;
  font-weight: normal;
}
.text{
  display: inline;
}
.topAuthor{
  display: inline;
  color: #A51733;
}
.points{
  display: inline;
  float: right;
}
.topText{
  display: block;
}
.site-title{
  display: inline;
}
.comment-number{
  display: inline;
  float: right;
}
#footer { 
  background: #999;
  clear: both;
}