h1{
  font-size: 20px;
  font-family: helvetica;
}

html {
/*  background: url(../images/wall.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  color: #FFF;
  width: 100%;
  font: 14px Arial, Helvetica, sans-serif;
}

#logo{
  position: relative;
  display: block;
  bottom: 30px;
}

#tagline{
  position: relative;
  bottom: 80px;
  -webkit-transform: rotate(11deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

#signup{
  position: absolute;
  margin: 0 auto;
  color: black;
  left: 500px;
  top: 220px;
}

#main{
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.user_input{
  height: 25px;
  font-size: 15px;
  border: 3px #b0bac9 solid;
  border-radius: 5px;
  color: #7385a0;
  padding-left: 5px;
  width: 100%;
}

table{
  width: 100%;
}

tr{
  height: 40px;
}

.type{
  text-align: right;
}

#register_form{
 width: 400px; 
}

.user_input{
  width: 100%;
  padding: 4px 8px
}

.mini-dash {
  width:100%;
  background:rgba(0,0,0,0.6);
  color:#fff;
  position:fixed;
  top:0;
  left:0;
  display:none;
  opacity: .6;
  height: 0px;
  line-height: 35px;
  text-align: left;
  font-size: 13px;
  z-index: 2147483647;
}

.login_input{
  height: 17px;
  border-radius: 13px;
  border: 0px;
  padding-left: 3px;
}

.mini_submit{
  display:none;
}

#login_form{
  float: right;
  padding-right: 5px;
}

#register, #register:visited{
  color: #ABB4AF;
  text-decoration: none;
  padding-left: 5px;
}

#login {
  display: inline;
  position: relative;
  left: 73%;
  top: 120%;
  font-family: Arial;
  color: black;
  font-size: 18px;
  padding-top: 7px;
  padding-right: 35px;
  padding-bottom: 7px;
  padding-left: 35px;
  text-decoration: none;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-box-shadow: 0px 1px 3px #666;
  -moz-box-shadow: 0px 1px 3px #666;
  text-shadow: 1px 1px 3px #666;
  border: solid black 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#454545), to(#696C70));
  background: -moz-linear-gradient(top, #454545, #696C70);
  cursor: pointer;
}#login:hover {
  background: #404040;
}


.submit {
  display:inline;
  position:relative;
  left: 40%;
  font-family: Arial;
  color: black;
  font-size: 18px;
  padding-top: 7px;
  padding-right: 22px;
  padding-bottom: 7px;
  padding-left: 25px;
  text-decoration: none;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-box-shadow: 0px 1px 3px #666;
  -moz-box-shadow: 0px 1px 3px #666;
  text-shadow: 1px 1px 3px #666;
  border: solid black 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#225238), to(#31754C));
  background: -moz-linear-gradient(top, #225238, #31754C);
  cursor: pointer;
}.submit:hover {
  background: #1c4f38;
}

#or{
  color: black;
  display: inline;
  position: relative;
  padding: 0px;
  left: 57%;
  top: 58%;
}

#buttons{
  position: relative;
  bottom: 30px;
  height: 51px;
}
