h1{
  font-size: 20px;
  font-family: helvetica;
}

html {
  background: url(../images/wall.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;
  width: 100%;
}

#logo{
  position: relative;
  display: block;
  top: 100px;
  left: 50px;
  -webkit-transform:rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg); 
}

#signup{
  position: relative;
  margin: 0 auto;
  width: 500px;
  color: #FFF;
  left: 300px;
}

#main{
  width: 100%;
}

.user_input{
  height: 25px;
  font-size: 15px;
  border: 3px #b0bac9 solid;
  border-radius: 5px;
  color: #7385a0;
  padding-left: 5px;
}

tr{
  height: 40px;
}

#copy{
  position: absolute;
  top: 400px;
  left: 500px;
  font-size: 50px;
}

.type{
  text-align: right;
}

#register_form{
 width: 300px; 
}

input{
  width: 100%;
}