html {
/*  background: url(../images/wall.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  color: #FFF;
  width: 100%;
  font: 14px Arial, Helvetica, sans-serif;
}

h1{
  font-size: 20px;
  font-family: helvetica;
}
h2 {
  font-family: 'Bowlby One SC', serif;
  font-size: 40px;
  float: right;
  padding-right: 20px;
}

a {color: #5299C4;text-decoration:none;}
a:active,
a:visited {text-decoration: underline;color: #5299C4;}
a:hover {color: #2F6270;}

input[type='text'],
input[type='password'],
input[type='submit'],
textarea,
button {
  font:14px 'Lucida Grande',Helvetica,Arial,sans-serif;
  padding:4px;
  outline:none;
}
input[type='text'],
input[type='password'] {
  width:250px;
}
input[type='submit'],
button {
  font-size:18px;
}

#mini-dash {
  width:100%;
  padding:8px 0;
  background:rgba(0,0,0,0.6);
  color:#fff;
  position:fixed;
  top:0;
  left:0;
  display:none;
  font-size:13px;
  z-index:20;
}
.login {
  float:right;
}
.login input[name='username'] {
  float:left;
  margin-right:6px;
  width:120px;
  height: 17px;
  border-radius: 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border: 0px;
  padding: 4px 8px;
}
.login input[name='password'] {
  float:left;
  margin-right:14px;
  width:120px;
  height: 17px;
  border-radius: 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border: 0px;
  padding: 4px 8px;
}

#main {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#login {
  position: absolute;
  top: 0;
  right: 0;
}

#logo {
  position: absolute;
}

#tagline {
  position: absolute;
  top: 470px;
  left: 90px;
  -webkit-transform: rotate(11deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

#register {
  position: absolute;
  left: 500px;
  top: 220px;
  color: #ABB4AF;
}
#register h2 {
  color:black;
}
#register input[type='text'],
#register input[type='password'] {
  outline: none;
  height: 25px;
  font-size: 15px;
  border: 3px #b0bac9 solid;
  border-radius: 5px;
  color: #7385a0;
  padding-left: 5px;
  width: 100%;
}
#register input[type='submit'] {
  font-family: Arial;
  color: black;
  font-size: 18px;
  padding-top: 7px;
  padding-right: 22px;
  padding-bottom: 7px;
  padding-left: 25px;
  text-decoration: none;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-box-shadow: 0px 1px 3px #666;
  -moz-box-shadow: 0px 1px 3px #666;
  text-shadow: 1px 1px 3px #666;
  border: solid black 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#225238), to(#31754C));
  background: -moz-linear-gradient(top, #225238, #31754C);
  cursor: pointer;
}.submit:hover {
  background: #1c4f38;
}