body {
  margin:0;
  padding:0;
  font:14px 'Lucida Grande',Helvetica,Arial,sans-serif;
  color:#000;
  overflow:hidden;
}

input[type='text'],
input[type='password'],
input[type='submit'],
textarea,
button {
  font:14px 'Lucida Grande',Helvetica,Arial,sans-serif;
  padding:4px;
  outline:none;
}
input[type='text'],
input[type='password'] {
  width:250px;
}
input[type='submit'],
button {
  font-size:18px;
}
a {color: #5299C4;text-decoration:none;}
a:active,
a:visited {text-decoration: underline;color: #5299C4;}
a:hover {color: #2F6270;}

#mini-dash {
  width:100%;
  height:32px;
}

.register {
  float:left;
  margin-left:20px;
}
.login {
  float:right;
}
.login .username {
  float:left;
  margin-right:6px;
  width:120px;
  height: 17px;
  border-radius: 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border: 0px;
  padding: 4px 8px;
}
.login .password {
  float:left;
  margin-right:14px;
  width:120px;
  height: 17px;
  border-radius: 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border: 0px;
  padding: 4px 8px;
}